In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
import pgeocode

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# Functions for data import

def add_leading_zero_to_zipcode(item):
    item_str = str(item)  # Ensure the item is a string
    item_str = item_str.replace('.0', '') # remove trailing '.0'
    
    if len(item_str) == 4:
        return '0' + item_str
    elif len(item_str) == 3:
        return '00' + item_str
    
    elif item_str == '10072': # catch bad New York Zipcode
        return '10001'
    elif item_str == '30399': # catch bad Atlanta Zipcode
        return '30303'
    elif item_str == '94101': # catch bad San Francisco Zipcode
        return '94102'
    elif item_str == '92164': # catch bad San Diego
        return '92101'
    elif item_str == '98205': # catch bad Everett WA
        return '98201'
    elif item_str == '29573':
        return '29574'
    elif item_str == '19388':
        return '19390'
    elif item_str == '19640': # Reading PA
        return '19601'
    elif item_str == '16532': # Erie PA
        return '16501'
    elif item_str == '14645': # Rochester NY
        return '14604'
    elif item_str == '19483':
        return '19481'      # Valley Forge PA
    elif item_str == '17767':
        return '17751'      # Salona PA
    elif item_str == '45418':
        return '45390'      # Dayton OH
    elif item_str == '30330':
        return '30329'      # Atlanta GA
    elif item_str == '25965': 
        return '25976'      # Elton WV
    
    return item_str

def remove_dollar_and_convert(item):
    # Remove the dollar sign and convert to integer
    return np.int32(item.replace('$', ''))

def remove_dollar_and_convert_float(item):
    # Remove the dollar sign and convert to float
    return np.float64(item.replace('$', ''))

def convert_yes_no_to_binary(item):
    item_lower = str(item).lower()
    if item_lower == 'yes':
        result = 1
    else:
        result = 0 
    return np.int8(result)

In [4]:
# Import users from csv

users_path = Path.cwd() / 'data/sd254_users.csv'


users_columns_import = ['Birth Year', 
                        'Zipcode', 
                        'Per Capita Income - Zipcode',
                        'Yearly Income - Person', 
                        'Total Debt',
                        'FICO Score',
                        'Num Credit Cards']

user_converters = {'Zipcode': add_leading_zero_to_zipcode,
                   'Per Capita Income - Zipcode': remove_dollar_and_convert,
                   'Yearly Income - Person': remove_dollar_and_convert,
                   'Total Debt': remove_dollar_and_convert}

users_dtypes = {'Birth Year': np.uint16,
                 'FICO Score': np.uint16,
                 'Num Credit Cards': np.uint8}

users_df = pd.read_csv(users_path, 
                       usecols=users_columns_import,
                       converters=user_converters,
                       dtype=users_dtypes
                    )


users_df['User'] = users_df.index

users_df.head()

,Birth Year,Zipcode,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards,User
0,1966,91750,29278,59696,127613,787,5,0
1,1966,11363,37891,77254,191349,701,5,1
2,1938,91792,22681,33483,196,698,5,2
3,1957,10069,163145,249925,202328,722,4,3
4,1976,94117,53797,109687,183855,675,1,4

In [5]:
# import cards csv

cards_path = Path.cwd() / 'data/sd254_cards.csv'

cards_columns_import = ['User',	
                        'CARD INDEX',
                        'Has Chip',
                        'Cards Issued',
                        'Year PIN last Changed',
                        'Card on Dark Web'
                        ]

cards_dtypes = {'CARD INDEX': np.uint8,
                'Cards Issued': np.uint8,
                'Year PIN last Changed': np.uint16
                }

cards_conversions = {'Card on Dark Web': convert_yes_no_to_binary,
                     'Has Chip': convert_yes_no_to_binary}

cards_df = pd.read_csv(cards_path,
                       usecols=cards_columns_import,
                       dtype=cards_dtypes,
                       converters=cards_conversions
                       )

display(cards_df.head())

,User,CARD INDEX,Has Chip,Cards Issued,Year PIN last Changed,Card on Dark Web
0,0,0,1,2,2008,0
1,0,1,1,2,2014,0
2,0,2,1,2,2004,0
3,0,3,0,1,2012,0
4,0,4,1,1,2009,0

In [6]:
transactions_path = Path.cwd() / 'data/credit_card_transactions-ibm_v2.csv'

transactions_columns_import = ['User',
                               'Card',
                               'Year',
                               'Month',
                               'Day',
                               'Time',
                               'Amount',
                               'Use Chip',
                               'Merchant City',
                               'Merchant State',
                               'Zip',
                               'MCC',
                               'Errors?',
                               'Is Fraud?'
                               ]

transaction_converters = {'Zip': add_leading_zero_to_zipcode,
                           'Amount': remove_dollar_and_convert_float,
                           'Is Fraud?': convert_yes_no_to_binary
                          }


transactions_df = pd.read_csv(transactions_path,
                                usecols=transactions_columns_import,
                                converters=transaction_converters
                                )

In [7]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386900 entries, 0 to 24386899
Data columns (total 14 columns):
 #   Column          Dtype
---  ------          -----
 0   User            int64
 1   Card            int64
 2   Year            int64
 3   Month           int64
 4   Day             int64
 5   Time            object
 6   Amount          float64
 7   Use Chip        object
 8   Merchant City   object
 9   Merchant State  object
 10  Zip             object
 11  MCC             int64
 12  Errors?         object
 13  Is Fraud?       int8
dtypes: float64(1), int64(6), int8(1), object(6)
memory usage: 2.4+ GB

In [8]:
transactions_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,134.09,Swipe Transaction,La Verne,CA,91750,5300,NaN,0
1,0,0,2002,9,1,06:42,38.48,Swipe Transaction,Monterey Park,CA,91754,5411,NaN,0
2,0,0,2002,9,2,06:22,120.34,Swipe Transaction,Monterey Park,CA,91754,5411,NaN,0
3,0,0,2002,9,2,17:45,128.95,Swipe Transaction,Monterey Park,CA,91754,5651,NaN,0
4,0,0,2002,9,3,06:23,104.71,Swipe Transaction,La Verne,CA,91750,5912,NaN,0

In [9]:
# inconsistent Merchant City ONLINE and Use Chip Online Transaction
transactions_df.loc[((transactions_df['Merchant City'] == 'ONLINE') & (transactions_df['Use Chip'] != 'Online Transaction')), 'Use Chip'].value_counts()

Use Chip
Chip Transaction    7601
Name: count, dtype: int64

In [12]:
transactions_users_500_df = transactions_df.loc[transactions_df['User'] < 500]
transactions_test_df = transactions_df.loc[transactions_df['User'] < 5]
transactions_users_100_df = transactions_df.loc[transactions_df['User'] < 100]

In [14]:
# transactions_users_500_df.to_csv('data/transactions_users_500.csv', index=False)
transactions_users_100_df.to_csv('data/transactions_users_100.csv', index=False)

In [91]:
# merge datasets

# merge_step_1 = transactions_users_500_df.merge(users_df, how='inner', on='User')
merge_step_1 = transactions_test_df.merge(users_df, how='inner', on='User')

merged_df = merge_step_1.merge(cards_df, how='inner', left_on=['User', 'Card'], right_on=['User', 'CARD INDEX'])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99519 entries, 0 to 99518
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   User                         99519 non-null  int64
 1   Card                         99519 non-null  int64
 2   Year                         99519 non-null  int64
 3   Month                        99519 non-null  int64
 4   Day                          99519 non-null  int64
 5   Time                         99519 non-null  object
 6   Amount                       99519 non-null  float64
 7   Use Chip                     99519 non-null  object
 8   Merchant City                99519 non-null  object
 9   Merchant State               77894 non-null  object
 10  Zip                          99519 non-null  object
 11  MCC                          99519 non-null  int64
 12  Errors?                      1697 non-null   object
 13  Is Fraud?                    99519 non-null  int8
 14  Birth Year                   99519 non-null  uint16
 15  Zipcode                      99519 non-null  object
 16  Per Capita Income - Zipcode  99519 non-null  int32
 17  Yearly Income - Person       99519 non-null  int32
 18  Total Debt                   99519 non-null  int32
 19  FICO Score                   99519 non-null  uint16
 20  Num Credit Cards             99519 non-null  uint8
 21  CARD INDEX                   99519 non-null  uint8
 22  Has Chip                     99519 non-null  int8
 23  Cards Issued                 99519 non-null  uint8
 24  Year PIN last Changed        99519 non-null  uint16
 25  Card on Dark Web             99519 non-null  int8
dtypes: float64(1), int32(3), int64(6), int8(3), object(7), uint16(3), uint8(3)
memory usage: 12.9+ MB

In [111]:
# add column to define whether international
merged_df['International'] = (merged_df['Merchant State'].str.len() > 2).astype(np.int8)

# add column for online transaction
merged_df['Online'] = (transactions_df['Merchant City'] == 'ONLINE').astype(np.int8)

# add column for age at transaction
merged_df['Age_at_transaction'] = (merged_df['Year'] - merged_df['Birth Year']).astype(np.int16)

# create income-to-debt
merged_df['income_to_debt'] = merged_df['Yearly Income - Person'] / (merged_df['Total Debt'] + 0.001)

# create a date-time column
merged_df['datetime'] = pd.to_datetime(merged_df['Year'].astype(str) + '-' + 
                                merged_df['Month'].astype(str) + '-' + 
                                merged_df['Day'].astype(str) + ' ' + 
                                merged_df['Time'])

# create day of week column
merged_df['day_of_week'] = merged_df['datetime'].dt.dayofweek.astype(np.int8)

# Convert datetime to Unix timestamp
merged_df['timestamp'] = merged_df['datetime'].astype(int) / 10**9  # Convert to seconds

In [112]:
# Put times into bins of time-of-day

# Define the bins and their corresponding labels
time_bins = [0, 6, 12, 18, 22, 24]
time_labels = ['Night', 'Morning', 'Afternoon', 'Evening', 'Night']

# Categorize the hours into bins
merged_df['time_of_day'] = pd.cut(merged_df['datetime'].dt.hour, bins=time_bins, labels=time_labels, right=False, include_lowest=True, ordered=False)

In [113]:
# create filters and lists of zipcodes to find distance with
distance_candidates = merged_df['Zip'].str.len() == 5
international_filters = merged_df['International'] == 1
online_filters = merged_df['Online'] == 1


merchant_zip_list = merged_df.loc[distance_candidates, 'Zip'].to_list()
user_zip_list = merged_df.loc[distance_candidates, 'Zipcode'].to_list()

# use pgeocode to calculate distances
dist = pgeocode.GeoDistance('us')
distances = dist.query_postal_code(user_zip_list, merchant_zip_list)

avg_distance = np.mean(distances)
max_distance = np.max(distances)


# initiate distance attribute with average distance
merged_df['distances'] = avg_distance

# populate distances
merged_df.loc[distance_candidates, 'distances'] = distances
merged_df.loc[international_filters, 'distances'] = max_distance
# merged_df.loc[distance_candidates, 'problem_dist'] = np.isnan(distances)

In [114]:
# # Define the bins and their labels
# # a word of caution: https://stats.stackexchange.com/questions/230750/when-should-we-discretize-bin-continuous-independent-variables-features-and-when

# age_bins = [0, 18, 25, 35, 45, 60, 100]
# age_labels = ['Under 18', '18-25', '26-35', '36-45', '46-60', 'Over 60']

# # Bin the 'Current Age' column
# merged_df['Age_Group_at_Transaction'] = pd.cut(merged_df['Age_at_transaction'], bins=age_bins, labels=age_labels, right=False)

# # Drop the 'Current Age' column after binning
# merged_df = merged_df.drop(columns=['Age_at_transaction'])

In [115]:
merged_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?,Birth Year,Zipcode,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards,CARD INDEX,Has Chip,Cards Issued,Year PIN last Changed,Card on Dark Web,International,Online,Age_at_transaction,income_to_debt,datetime,day_of_week,timestamp,time_of_day,distances
0,0,0,2002,9,1,06:21,134.09,Swipe Transaction,La Verne,CA,91750,5300,NaN,0,1966,91750,29278,59696,127613,787,5,0,1,2,2008,0,0,0,36,0.467789,2002-09-01 06:21:00,6,1.030861e+09,Morning,0.000000
1,0,0,2002,9,1,06:42,38.48,Swipe Transaction,Monterey Park,CA,91754,5411,NaN,0,1966,91750,29278,59696,127613,787,5,0,1,2,2008,0,0,0,36,0.467789,2002-09-01 06:42:00,6,1.030863e+09,Morning,33.540588
2,0,0,2002,9,2,06:22,120.34,Swipe Transaction,Monterey Park,CA,91754,5411,NaN,0,1966,91750,29278,59696,127613,787,5,0,1,2,2008,0,0,0,36,0.467789,2002-09-02 06:22:00,0,1.030948e+09,Morning,33.540588
3,0,0,2002,9,2,17:45,128.95,Swipe Transaction,Monterey Park,CA,91754,5651,NaN,0,1966,91750,29278,59696,127613,787,5,0,1,2,2008,0,0,0,36,0.467789,2002-09-02 17:45:00,0,1.030989e+09,Afternoon,33.540588
4,0,0,2002,9,3,06:23,104.71,Swipe Transaction,La Verne,CA,91750,5912,NaN,0,1966,91750,29278,59696,127613,787,5,0,1,2,2008,0,0,0,36,0.467789,2002-09-03 06:23:00,1,1.031034e+09,Morning,0.000000

In [116]:
columns_to_drop = ['Card',
                   'User',
                   'Year',
                   'Month',
                   'Birth Year',
                   'Day',
                   'Time',
                   'Merchant City',
                   'Zip',
                   'Zipcode',
                   'CARD INDEX',
                   'Year PIN last Changed',
                   'MCC',
                   'datetime',
                   'Card on Dark Web'
                   ]

merged_and_drop_df = merged_df.drop(columns=columns_to_drop, axis=1)

# Filter out negative amounts
merged_and_drop_df = merged_and_drop_df.loc[merged_and_drop_df['Amount'] > 0.0]

# replace NaN Errors with No Error
merged_and_drop_df['Errors?'] = merged_and_drop_df['Errors?'].fillna('No Error')

# replace NaN in Merchant State with Online
merged_and_drop_df['Merchant State'] = merged_and_drop_df['Merchant State'].fillna('Online')

merged_and_drop_df

,Amount,Use Chip,Merchant State,Errors?,Is Fraud?,Per Capita Income - Zipcode,Yearly Income - Person,Total Debt,FICO Score,Num Credit Cards,Has Chip,Cards Issued,International,Online,Age_at_transaction,income_to_debt,day_of_week,timestamp,time_of_day,distances
0,134.09,Swipe Transaction,CA,No Error,0,29278,59696,127613,787,5,1,2,0,0,36,0.467789,6,1.030861e+09,Morning,0.000000
1,38.48,Swipe Transaction,CA,No Error,0,29278,59696,127613,787,5,1,2,0,0,36,0.467789,6,1.030863e+09,Morning,33.540588
2,120.34,Swipe Transaction,CA,No Error,0,29278,59696,127613,787,5,1,2,0,0,36,0.467789,0,1.030948e+09,Morning,33.540588
3,128.95,Swipe Transaction,CA,No Error,0,29278,59696,127613,787,5,1,2,0,0,36,0.467789,0,1.030989e+09,Afternoon,33.540588
4,104.71,Swipe Transaction,CA,No Error,0,29278,59696,127613,787,5,1,2,0,0,36,0.467789,1,1.031034e+09,Morning,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99514,99.94,Online Transaction,Online,No Error,0,53797,109687,183855,675,1,1,1,0,1,44,0.596595,3,1.582797e+09,Morning,246.510932
99515,83.34,Chip Transaction,CA,No Error,0,53797,109687,183855,675,1,1,1,0,0,44,0.596595,3,1.582817e+09,Afternoon,0.000000
99516,27.24,Online Transaction,Online,No Error,0,53797,109687,183855,675,1,1,1,0,1,44,0.596595,3,1.582838e+09,Evening,246.510932
99517,119.00,Chip Transaction,HI,No Error,0,53797,109687,183855,675,1,1,1,0,0,44,0.596595,3,1.582847e+09,Night,3870.292189
99518,31.36,Online Transaction,Online,No Error,0,53797,109687,183855,675,1,1,1,0,1,44,0.596595,4,1.582922e+09,Evening,246.510932

In [117]:
merged_and_drop_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96939 entries, 0 to 99518
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Amount                       96939 non-null  float64
 1   Use Chip                     96939 non-null  object
 2   Merchant State               96939 non-null  object
 3   Errors?                      96939 non-null  object
 4   Is Fraud?                    96939 non-null  int8
 5   Per Capita Income - Zipcode  96939 non-null  int32
 6   Yearly Income - Person       96939 non-null  int32
 7   Total Debt                   96939 non-null  int32
 8   FICO Score                   96939 non-null  uint16
 9   Num Credit Cards             96939 non-null  uint8
 10  Has Chip                     96939 non-null  int8
 11  Cards Issued                 96939 non-null  uint8
 12  International                96939 non-null  int8
 13  Online                       96939 non-null  int8
 14  Age_at_transaction           96939 non-null  int16
 15  income_to_debt               96939 non-null  float64
 16  day_of_week                  96939 non-null  int8
 17  timestamp                    96939 non-null  float64
 18  time_of_day                  96939 non-null  category
 19  distances                    96939 non-null  float64
dtypes: category(1), float64(4), int16(1), int32(3), int8(5), object(3), uint16(1), uint8(2)
memory usage: 8.1+ MB

In [118]:
# Define categorical and numerical columns
categorical_cols = ['Use Chip',
                    'Merchant State',
                    'Errors?',
                    'Is Fraud?',
                    'Has Chip',
                    'International',
                    'Online',
                    'day_of_week',
                    'time_of_day']
numerical_cols = ['Amount',
                    'Per Capita Income - Zipcode',
                    'Yearly Income - Person',
                    'Total Debt',
                    'FICO Score',
                    'Num Credit Cards',
                    'Cards Issued',
                    'Age_at_transaction',
                    'income_to_debt',
                    'timestamp',
                    'distances']

# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ])

In [119]:
# Define the model - option 2
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(n_estimators=100, max_features='auto', max_depth=10, criterion='gini', random_state=42))
])

In [120]:
merged_and_drop_df.loc[merged_and_drop_df['Merchant State'].isnull(), 'Online'].value_counts()

Series([], Name: count, dtype: int64)

In [90]:
merged_and_drop_df['Merchant State'].unique()

array(['CA', 'Online', 'NE', 'IL', 'MO', 'Switzerland', 'IA', 'TX',
       'Estonia', 'NJ', 'NV', 'NY', 'Japan', 'AZ', 'UT', 'FL', 'MI',
       'Mexico', 'WA', 'OH', 'Dominican Republic', 'NM', 'China', 'SC',
       'AK', 'PA', 'VA', 'Portugal', 'HI', 'CT', 'MA', 'MN', 'CO',
       'Italy', 'GA', 'Philippines', 'Jamaica', 'AR', 'Canada', 'OR',
       'WI', 'NC', 'France', 'WV', 'Norway', 'ME', 'NH', 'VT', 'MD', 'AL',
       'KY', 'TN', 'MS', 'New Zealand', 'Netherlands', 'KS', 'ND', 'DC',
       'Sierra Leone', 'Haiti', 'MT', 'South Korea', 'Spain', 'OK',
       'Algeria', 'Egypt', 'WY', 'ID', 'Indonesia', 'RI',
       'United Kingdom', 'Colombia', 'South Africa', 'IN', 'The Bahamas',
       'Singapore', 'Pakistan', 'Malaysia', 'Mongolia', 'Israel',
       'Hong Kong', 'Guatemala', 'Peru', 'Thailand', 'Sweden', 'Taiwan',
       'LA', 'Germany', 'Czech Republic', 'India', 'Poland', 'DE',
       'Costa Rica', 'Denmark', 'Bangladesh', 'Macedonia', 'Nigeria',
       'SD', 'Tuvalu', 'Ireland', 'Vatican City', 'Lithuania',
       'Papua New Guinea', 'Belgium', 'Benin', 'Croatia', 'Saudi Arabia',
       'Latvia', 'Austria', 'Slovenia', 'Turkey', 'Russia', 'Greece',
       'Slovakia', 'Brazil', 'Hungary', 'Argentina', 'Serbia', 'Ghana',
       'Oman', 'United Arab Emirates', 'Finland', 'Barbados', 'Australia',
       'Vietnam', 'Micronesia', 'Aruba', 'Liechtenstein', 'Cambodia',
       'Kosovo', 'South Sudan', 'Luxembourg', 'Myanmar (Burma)',
       'Maldives', 'Samoa', 'Burkina Faso', 'Moldova', 'Eritrea', 'Chile',
       'Belarus', 'Venezuela', 'Georgia', 'Tanzania', 'Iceland', 'Iran',
       'Honduras', 'Sao Tome and Principe', 'Kenya', 'Kiribati', 'Fiji',
       'Kuwait', 'Uzbekistan', 'Romania', 'Panama', 'AA', 'Ethiopia',
       'Zimbabwe', 'Ecuador', 'Cyprus', 'Djibouti', 'Cameroon', 'Yemen',
       'Uruguay', 'Nicaragua', 'Swaziland', 'Sri Lanka', 'Morocco'],
      dtype=object)